{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Déconnexion" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="logo-font mb-4">{% trans "Déconnexion" %}</h2>
<hr>
<p>{% trans 'Êtes-vous sûr de vouloir vous déconnecter ?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn btn-outline-black rounded-0" href="{% url 'home' %}">Annuler</a>
  <button type="submit">{% trans 'Déconnexion' %}</button>
</form>


{% endblock %}