{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Modifier le mot de passe" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="logo-font mb-4">{% trans "Modifier le mot de passe" %}</h2>
<hr>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <a class="btn btn-outline-black rounded-0" href="{% url 'account_login' %}">Retour à la page de connexion</a>
    <button type="submit" name="action">{% trans "Modifier le mot de passe" %}</button>
</form>
{% endblock %}