{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Modifier le mot de passe" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="logo-font mb-4">{% if token_fail %}{% trans "Mauvais jeton" %}{% else %}{% trans "Modifier le mot de passe" %}{% endif %}
</h2>
<hr>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktrans %}Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé. Veuillez demander un <a
        href="{{ passwd_reset_url }}">nouveau mot de passe réinitialisation</a>.{% endblocktrans %}</p>
{% else %}
{% if form %}
<form method="POST" action="{{ action_url }}">
    {% csrf_token %}
    {{ form|crispy }}
    <a class="btn btn-outline-black rounded-0" href="{% url 'account_login' %}">Retour à la page de connexion</a>
    <input type="submit" name="action" value="{% trans 'modifier le mot de passe' %}" />
</form>
{% else %}
<p>{% trans 'Votre mot de passe est modifié.' %}</p>
{% endif %}
{% endif %}
{% endblock %}