{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Réinitialisation du mot de passe" %}{% endblock %}

{% block inner_content %}

<hr>
<h2 class="logo-font mb-4">{% trans "Réinitialisation du mot de passe" %}</h2>
<hr>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% trans "Vous avez oublié votre mot de passe ? Saisissez votre adresse e-mail ci-dessous, et nous vous enverrons un e-mail vous permettant de le réinitialiser." %}
</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form|crispy }}
    <a class="btn btn-outline-black rounded-0" href="{% url 'account_login' %}">Retour à la page de connexion</a>
    <input type="submit" value="{% trans 'Réinitialiser mon mot de passe' %}" />
</form>

<p>{% blocktrans %}Veuillez nous contacter si vous avez des difficultés à réinitialiser votre mot de passe.{% endblocktrans %}</p>
{% endblock %}