{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Réinitialisation du mot de passe" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="logo-font mb-4">{% trans "Réinitialisation du mot de passe" %}</h2>
<hr>

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% blocktrans %}Nous avons envoyé un e-mail. Veuillez nous contacter si vous ne le recevez pas dans les quelques
    minutes.{% endblocktrans %}</p>
{% endblock %}