{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "S'inscrire" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="logo-font mb-4">{% trans "S'inscrire" %}</h2>
<hr>

<p>{% blocktrans %}Vous avez déjà un compte ? Dans ce cas, veuillez <a href="{{ login_url }}">s'inscrire</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn btn-outline-black rounded-0" href="{% url 'account_login' %}">Retour à la page de connexion</a>
  <button type="submit">{% trans "S'inscrire" %}</button>
</form>

{% endblock %}