{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <h1 class="text-center">Contact Success!</h1>
    <div class="card container my-5 p-5">
        <div class="text-center">
            <h4>Thank you {{ contact.name }} for your contact!</h4>
            <p>Your subject was: {{ contact.subject }}</p>
            <hr>
            <p class="mb-0">We appreciate your feedback and will get back to you as soon as possible.</p>
        </div>
        <div class="text-center">
            <a href="{% url 'products' %}" class="btn btn-black rounded-0 my-5">
                <span class="icon mr-2">
                    <i class="fas fa-gifts"></i>
                </span>
                <span class="text-uppercase">Shop Here!</span>
            </a>
        </div>
    </div>

</div>

{% endblock %}