{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <h1 class="text-center">Contact Us</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" value="Send">
    </form>
</div>
{% endblock %}